*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-image: url('milkyway5.jpg');
    background-color: rgb(0, 0, 0, 0.4);
    background-blend-mode: soft-light;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
header{
    background: url('andromeda.jpg');
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: hard-light;
    background-position-y: 170%;
    max-width: 100%;
    background-attachment: scroll;
    background-size: cover;
}
.heading{
    font-family: 'Orbitron',sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 20px 20px;
    margin: auto;
    color: gainsboro;
    transition-duration: 1s;
}
.icon{
    display: none;
    top: 0;
    margin-left: 4%;
}
.icon .fa{
    font-size: 15px;
    color: azure;
}
nav{
    font-size: 30px;  
}
nav ul li{ 
    display: inline-flex;
    flex-direction: row;
}
li a{                        /*navigation bar*/
    text-decoration: none;
    border: 2px solid transparent;
    padding: 26px 52px;
    max-width: 100%;
    font-size: 20px;
    /* margin-top: 1px; */
    font-family: 'Orbitron',sans-serif;
    color: black;
}
#nav1{                                                        /*Astronomy*/
    border-bottom: 4px solid #9daaf8;
    color: #9daaf8;
    max-width: 100%;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav1:hover{
    background: url('carb.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-blend-mode: hard-light;
    max-width: 100%;
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav2{                                                     /*Learn*/
    border-bottom: 4px solid #e01f12;
    color: #e01f12;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav2:hover{
    background: url('learn2.jpeg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav3{                                                    /*Telescopes*/
    border-bottom: 4px solid rgb(33, 20, 221);
    color: rgb(33, 20, 221);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav3:hover{
    background: url('telescp.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav4{                                                    /*Quiz*/
    border-bottom: 4px solid rgb(4, 150, 4);
    color: rgb(4, 150, 4);
    border-radius: 10px;
    transition-duration: 0.6s;

}
#nav4:hover{
    background: url('quiz.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}

#nav5{                                                     /*Movies*/
    border-bottom: 4px solid burlywood;
    color: burlywood;
    border-radius: 10px;
    transition-duration: 0.6s ;
}
#nav5:hover{
    background-image: url('groot.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav6{                                                   /*Comments*/   
    border-bottom: 4px solid rgb(0, 238, 178);
    color: rgb(0, 238, 178);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav6:hover{
    background: url('comments.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
.galax{
    width: 400px;
    height: 400px;
    margin-left: 439px;
    border-radius: 50px;
}
.para h3{
    font-family: 'Alegreya Sans',sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-decoration: underline;
    margin-top: 70px;
    padding: 10px 30px;
    color: rgb(235, 142, 142);
    text-align: center;
}
.para #bold{
    text-decoration: underline;
    color: rgb(235, 142, 142);
}
#note{
    border: 1px solid rgb(235, 142, 142);
    margin: 0 10px;
    border-radius: 20px;
}
.para p{
    text-align: justify;
    font-family: 'Quicksand',sans-serif;
    font-size: 25px;
    margin-top: 1.5%;
    color: rgb(240, 205, 205);
    padding: 2%;
}
#cap{
    margin-left: 33%;
}
#naz{
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(228, 210, 228);
    margin-top: 1%;
    margin-left: 2%;
    padding: 1%;
}
#naz2{
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(228, 210, 228);
    margin-top: 1%;
    margin-left: 32%;
    padding: 1%;
}
#caption{
    color: rgb(235, 142, 142);
    position: absolute;
    margin-left: 6%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#caption2{
    color: rgb(235, 142, 142);
    position: absolute;
    margin-left: 72%;
    float: right;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.core{
    border: 1px solid rgb(235, 142, 142);
    padding: 10px 20px;
    margin: 60px 20px 20px 20px;
    border-radius: 50px;
}
.andromeda,.blackeye,.cigar{
    display: flex;
}
.blackeye{
    border: 1px solid rgb(235, 142, 142);
    padding: 10px;
    margin: 0px 20px;
}
#ahead,#bhead,#chead{
    text-decoration: underline;
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(235, 142, 142);
}
#apara,#bpara,#cpara{
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: 2%;
}
#bpara{
    margin-top: 3%;
}
#cpara{
    margin-top: 3%;
}
#naz3,#naz4,#naz5{
    border-radius: 50px;
    box-shadow: 1px 1px 5px rgb(228, 210, 228);
    /* margin-top: 4%; */
    margin: auto;
    /* margin-left: 1%; */
    /* display: flex; */
}

.note{
    margin: 5%;
    font-size: 24px;
    text-align: justify;
    border: 2px solid rgb(235, 177, 177);
    border-radius: 50px;
    font-family: 'Quicksand',sans-serif;
    font-weight: bolder;
    color: rgb(240, 205, 205);
    padding: 30px;
    /* text-align: center; */
}
#nhead{
    color: rgb(235, 142, 142);
    font-size: 40px;
    /* text-transform: uppercase; */
    /* margin-top: -1%; */
    text-align: center;
}
#nlink{
    font-size: 25px;
    padding: 15px;
    color: rgb(235, 177, 177);
    border: 1px solid rgb(235, 142, 142);
    text-decoration: none;
    border-radius: 50px;
    margin-left: 40%;
    margin-top: 30%;
    transition-duration: 0.9s;
}
#nlink:hover{
    background: rgb(235, 142, 142);
    color: #fff;
}
#naz6{
    border-radius: 50px;
    width: 400px;
    height: 330px;
    box-shadow: 1px 1px 20px rgb(146, 145, 146);
    margin-top: 1%;
    margin-left: 34%;
}
#caption3{
    color: rgb(235, 142, 142);
    /* margin-left: 9%; */
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#naz7{
    border-radius: 50px;
    box-shadow: 1px 1px 30px rgb(146, 145, 146);
    margin-top: 1%;
    margin-left: 30%;
    padding: 1%;
}
#caption4{
    color: rgb(235, 142, 142);
    /* margin-left: 42%; */
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}
#lpara{
    border: 1px solid rgb(235, 142, 142);
    padding: 20px;
    margin: 0px 20px 10px 20px;
    border-radius: 30px;
}

















