*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color: aliceblue ;
    background-image: linear-gradient(180deg,#bdc3c7,#2c3e50); */
    background-image: url('milkyway.jpg');
    background-color: rgba(0, 0, 0,0.5);
    background-blend-mode: hard-light;
    background-position-x: right;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
header{
    /* background: darkcyan;  */
    background-image: url('nebula4.jpg');
    background-color: rgb(36, 40, 49);
    background-blend-mode: hard-light;
    background-position-y: 180%;
    width: 100%;
    max-height: 100%;
    background-attachment: scroll;
    background-size: cover;
}
.heading{
    font-family: 'Orbitron',sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 30px 20px;
    color: gainsboro;
    transition-duration: 1s;
}
.icon{
    display: none;
    top: 0;
    margin-left: 4%;
}
.icon .fa{
    font-size: 15px;
    color: azure;
}
nav{
    font-size: 30px;  
}
nav ul li{ 
    display: inline-flex;
    flex-direction: row;
}
li a{                        /*navigation bar*/
    text-decoration: none;
    border: 2px solid transparent;
    padding: 26px 52px;
    max-width: 100%;
    font-size: 20px;
    margin-top: 1px;
    font-family: 'Orbitron',sans-serif;
    color: black;
    /* overflow: hidden; */
    /* background: url('stars3.jpg'); */ 
}
#nav1{                                                        /*Astronomy*/
    border-bottom: 4px solid #9daaf8;
    color: #9daaf8;
    max-width: 100%;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav1:hover{                                               
    /* background-image: linear-gradient(to bottom,rgb(187, 15, 15),rgb(240, 35, 76), rgb(243, 79, 112),rgb(243, 115, 141)); */
    background: url('carb.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-blend-mode: hard-light;
    max-width: 100%;
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav2{                                                     /*Learn*/
    border-bottom: 4px solid #e01f12;
    color: #e01f12;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav2:hover{
    /* background-image: linear-gradient(to bottom ,rgb(226, 29, 193),rgb(228, 76, 202),rgb(235, 130, 217)); */
    background: url('learn2.jpeg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav3{                                                    /*Telescopes*/
    border-bottom: 4px solid rgb(33, 20, 221);
    color: rgb(33, 20, 221);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav3:hover{
    /* background-image: linear-gradient(to bottom,rgb(119, 38, 224),rgb(157, 94, 240),rgb(178, 138, 229)); */
    background: url('telescp.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav4{                                                    /*Quiz*/
    border-bottom: 4px solid rgb(4, 150, 4);
    color: rgb(4, 150, 4);
    border-radius: 10px;
    transition-duration: 0.6s;

}
#nav4:hover{
    /* background-image: linear-gradient(to bottom, rgb(115, 184, 13), rgb(149, 192, 85), rgb(156, 184, 114)); */
    background: url('quiz.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}

#nav5{                                                     /*Movies*/
    border-bottom: 4px solid burlywood;
    color: burlywood;
    border-radius: 10px;
    transition-duration: 0.6s ;
}
#nav5:hover{
    /* background-image: linear-gradient(to bottom,  rgb(240, 23, 23),  rgb(240, 93, 93),  rgb(231, 148, 148)); */
    background-image: url('groot.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav6{                                                   /*Comments*/   
    border-bottom: 4px solid rgb(0, 238, 178);
    color: rgb(0, 238, 178);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav6:hover{
    /* background-image: linear-gradient(to bottom, rgb(238, 146, 54), rgb(238, 170, 103), rgb(247, 199, 151)); */
    background: url('comments.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#heading{
    text-align: center;
    color: black;
    margin-top: 5%;
    padding: 10px;
    font-size: 50px;
    color: rgb(114, 247, 247);
    font-family: 'Alegreya Sans',sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    /* background-image: linear-gradient(200deg,#00ADB5,#00FFF5,#EEEEEE); */
}
#heading2{
    text-align: center;
    color: black;
    margin-top: 3%;
    padding: 10px;
    font-size: 46px;
    font-weight: bolder;
    color: rgb(114, 247, 247);
    font-family: 'Alegreya Sans',sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    /* background-image: linear-gradient(140deg,#00ADB5,#00FFF5,#EEEEEE); */
}
#para{
    color: rgb(215, 248, 241);
    text-align: justify;
    font-size: 30px;
    margin-top: 1%;
    font-weight: bolder;
    font-family: 'Alegreya Sans', sans-serif;
    padding: 1%;
}
#neb1,#neb2,#neb3,#neb4{
    border-radius: 50px;
    margin-top: 0;
    margin-left: 2%;
    box-shadow: 1px 1px 20px burlywood;
}
.bubble,.fish,.helix,.crab{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 30px;
}
#bhead{
    font-size: 30px;
    color: cyan ;
    font-family: 'Montserrat',sans-serif;
    text-decoration: underline;
}
.hpara{
    color: cornsilk;
    margin-left: 2%;
    font-size: 25px;
    font-family: 'Kufam',sans-serif;
    display: block;
    padding: 10px;
}