html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('milky.jpg');
    background-color: rgba(7, 7, 7, 0.8);
    background-blend-mode: hard-light;
    background-position-x: center;
    background-position-y: top;
    z-index: -1;
    max-width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
header{
    /* background: darkcyan;  */
    background-image: url('nebula3.jpg');
    background-color: rgba(5, 5, 5, 0.7);
    background-blend-mode: hard-light;
    background-position-y: 50%;
    max-width: 100%;
    background-attachment: scroll;
    background-size: cover;
}
.heading{
    font-family: 'Orbitron',sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 30px 20px;
    margin: auto;
    color: gainsboro;
    transition-duration: 1s;
}
nav{
    font-size: 30px;  
}
nav ul li{ 
    display: inline-flex;
    flex-direction: row;
}
li a{                        /*navigation bar*/
    text-decoration: none;
    border: 2px solid transparent;
    padding: 26px 54px;
    max-width: 100%;
    font-size: 20px;
    margin-top: 1px;
    font-family: 'Orbitron',sans-serif;
    color: black;
    /* overflow: hidden; */
    /* background: url('stars3.jpg'); */ 
}
.icon{
    display: none;
    top: 0;
    margin-left: 4%;
}
.icon .fa{
    font-size: 15px;
    color: azure;
}
#nav1{                                                        /*Astronomy*/
    border-bottom: 4px solid #9daaf8;
    color: #9daaf8;
    max-width: 100%;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav1:hover{                                               
    /* background-image: linear-gradient(to bottom,rgb(187, 15, 15),rgb(240, 35, 76), rgb(243, 79, 112),rgb(243, 115, 141)); */
    background: url('carb.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-blend-mode: hard-light;
    max-width: 100%;
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav2{                                                     /*Learn*/
    border-bottom: 4px solid #e01f12;
    color: #e01f12;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav2:hover{
    /* background-image: linear-gradient(to bottom ,rgb(226, 29, 193),rgb(228, 76, 202),rgb(235, 130, 217)); */
    background: url('learn2.jpeg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav3{                                                    /*Telescopes*/
    border-bottom: 4px solid rgb(33, 20, 221);
    color: rgb(33, 20, 221);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav3:hover{
    /* background-image: linear-gradient(to bottom,rgb(119, 38, 224),rgb(157, 94, 240),rgb(178, 138, 229)); */
    background: url('telescp.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav4{                                                    /*Quiz*/
    border-bottom: 4px solid rgb(4, 150, 4);
    color: rgb(4, 150, 4);
    border-radius: 10px;
    transition-duration: 0.6s;

}
#nav4:hover{
    /* background-image: linear-gradient(to bottom, rgb(115, 184, 13), rgb(149, 192, 85), rgb(156, 184, 114)); */
    background: url('quiz.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}

#nav5{                                                     /*Movies*/
    border-bottom: 4px solid burlywood;
    color: burlywood;
    border-radius: 10px;
    transition-duration: 0.6s ;
}
#nav5:hover{
    /* background-image: linear-gradient(to bottom,  rgb(240, 23, 23),  rgb(240, 93, 93),  rgb(231, 148, 148)); */
    background-image: url('groot.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav6{                                                   /*Comments*/   
    border-bottom: 4px solid rgb(0, 238, 178);
    color: rgb(0, 238, 178);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav6:hover{
    /* background-image: linear-gradient(to bottom, rgb(238, 146, 54), rgb(238, 170, 103), rgb(247, 199, 151)); */
    background: url('comments.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
@media screen and (max-width: 600px){
    body{
        overflow-x: hidden;
        background-image: url('stars.jpg');
        background-color: rgba(0, 0, 0, 1);
        background-blend-mode: hard-light;
        background-position-x: 50%;
        overflow-x: hidden;
    }
    .heading{
        font-size: 15px;
        text-align: center;
        overflow-x: hidden;
        padding: 10px 0;
    }
    .icon{
        display: block;
    }
    nav ul{
        /* position: absolute; */
        display: grid;
        /* background: url('stars3.jpg'); */
        /* border: 1px solid rgb(192, 171, 164); */
        /* width: 56%; */
        max-width: 50%;
        /* float: right; */
        overflow-x: hidden;
        margin-left: 0;
    }
    li a{
        margin: 3%;
        padding: 10px 20px;
        font-size: 12px;
    }
    #nav1{
        border-bottom: 1px solid #9daaf8;
        padding: 10px 22px;
    }
    #nav2{
        border-bottom: 1px solid #e01f12;
        padding: 10px 39px;
    }
    #nav3{
        border-bottom: 1px solid rgb(33, 20, 221);
    }
    #nav4{
        border-bottom: 1px solid rgb(4, 150, 4);
        padding: 10px 44px;
    }
    #nav5{
        border-bottom: 1px solid burlywood;
        padding: 10px 35px;
    }
    #nav6{
        border-bottom: 1px solid rgb(0, 238, 178);
        padding: 10px 24px;
    }
}
/* @media screen and (max-width: 900px){
    body{
        overflow-x: hidden;
    }
    .heading{
        padding: 10px 10px;
        font-size: 10px;
    }
    nav ul{
        border: 1px solid sienna;
        display: grid;
        width: 26%;
        float: right;
        margin-right: 0;
    }
    ul li a{
        font-size: 20px;
    }
    #nav1{
        border-bottom: 1px solid #9daaf8;
        padding: 18px 22px;
    }
    #nav2{
        border-bottom: 1px solid #e01f12;
        padding: 18px 50px;
    }
    #nav3{
        border-bottom: 1px solid rgb(33, 20, 221);
        padding: 18px 18px;
    }
    #nav4{
        border-bottom: 1px solid rgb(4, 150, 4);
        padding: 18px 59px;
    }
    #nav5{
        border-bottom: 1px solid burlywood;
        padding: 18px 44px;
    }
    #nav6{
        border-bottom: 1px solid rgb(0, 238, 178);
        padding: 18px 24px;
    }
} */
 /* @media screen and (max-width: 1000px){
    body{
        background: url('nebula4.jpg');
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: hard-light;
        max-width: 100%;
        background-size: cover;
        overflow-x: hidden;
        align-items: center;
        justify-items: center;
    }
    header{
        background: url('helix.jpg');
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: hard-light;
        background-position-y: 50%;
        background-size: cover;
        background-attachment: scroll;
    }
    .heading{
        font-size: 15px;
        text-align: justify;
        padding: 20px 10px;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    nav{
        float: right;
        border: 1px solid rgb(122, 68, 21);
        border-radius: 20px;
        background: rgb(124, 83, 6);
        max-width: 100%;
        margin-right: 0;
        display: grid;
        flex-direction: column;
        overflow-x: hidden;
    }
    nav ul{
        display: grid;
        padding: 20px;
        margin-left: 0;
        justify-items: center;
        align-items: center;
        position: relative;
        border: 1px solid #ccc;
        width: 180%;
        background: rgb(27, 27, 27);
    }
    nav li{
        text-align: center;
        list-style: none;
        min-height: 10vh;
        margin-top: 50%;
    }
    nav li a{
        left: 0;      
        padding: 8% 7%;
        font-size: 15px;
    }
    #nav2{
        padding: 8% 29%;
        text-align: center;
    }
} */