html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('milky.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-blend-mode: hard-light;
    background-position-x: center;
    background-position-y: center;
    z-index: -1;
    max-width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.vid{
    position: fixed;
    overflow: hidden;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    max-width: 100%;
}
header{
    /* background: darkcyan;  */
    background-image: url('nebula3.jpg');
    background-color: rgba(0, 0, 0);
    background-blend-mode: hard-light;
    background-position-y: 50%;
    max-width: 100%;
    background-attachment: scroll;
    background-size: cover;
}
.heading{
    font-family: 'Orbitron',sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 20px 20px;
    margin: auto;
    color: gainsboro;
    transition-duration: 1s;
}
.icon{
    display: none;
    top: 0;
    margin-left: 4%;
}
.icon .fa{
    font-size: 15px;
    color: azure;
}
nav{
    font-size: 30px;  
}
nav ul li{ 
    display: inline-flex;
    flex-direction: row;
}
li a{                        /*navigation bar*/
    text-decoration: none;
    border: 2px solid transparent;
    padding: 26px 52px;
    max-width: 100%;
    font-size: 20px;
    margin-top: 1px;
    font-family: 'Orbitron',sans-serif;
    color: black;
    /* overflow: hidden; */
    /* background: url('stars3.jpg'); */ 
}
#nav1{                                                        /*Astronomy*/
    border-bottom: 4px solid #9daaf8;
    color: #9daaf8;
    max-width: 100%;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav1:hover{                                               
    /* background-image: linear-gradient(to bottom,rgb(187, 15, 15),rgb(240, 35, 76), rgb(243, 79, 112),rgb(243, 115, 141)); */
    background: url('carb.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-blend-mode: hard-light;
    max-width: 100%;
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav2{                                                     /*Learn*/
    border-bottom: 4px solid #e01f12;
    color: #e01f12;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav2:hover{
    /* background-image: linear-gradient(to bottom ,rgb(226, 29, 193),rgb(228, 76, 202),rgb(235, 130, 217)); */
    background: url('learn2.jpeg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav3{                                                    /*Telescopes*/
    border-bottom: 4px solid rgb(33, 20, 221);
    color: rgb(33, 20, 221);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav3:hover{
    /* background-image: linear-gradient(to bottom,rgb(119, 38, 224),rgb(157, 94, 240),rgb(178, 138, 229)); */
    background: url('telescp.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav4{                                                    /*Quiz*/
    border-bottom: 4px solid rgb(4, 150, 4);
    color: rgb(4, 150, 4);
    border-radius: 10px;
    transition-duration: 0.6s;

}
#nav4:hover{
    /* background-image: linear-gradient(to bottom, rgb(115, 184, 13), rgb(149, 192, 85), rgb(156, 184, 114)); */
    background: url('quiz.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}

#nav5{                                                     /*Movies*/
    border-bottom: 4px solid burlywood;
    color: burlywood;
    border-radius: 10px;
    transition-duration: 0.6s ;
}
#nav5:hover{
    /* background-image: linear-gradient(to bottom,  rgb(240, 23, 23),  rgb(240, 93, 93),  rgb(231, 148, 148)); */
    background-image: url('groot.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav6{                                                   /*Comments*/   
    border-bottom: 4px solid rgb(0, 238, 178);
    color: rgb(0, 238, 178);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav6:hover{
    /* background-image: linear-gradient(to bottom, rgb(238, 146, 54), rgb(238, 170, 103), rgb(247, 199, 151)); */
    background: url('comments.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#main{
    margin-top: 2%;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}
#questions{
    border: 1px solid #9daaf8;
    width: 30%;
    border-radius: 4%;
    z-index: 10000;
}
#questions:hover{
    background: palegoldenrod;
}
#q{
    color: aliceblue;
    padding-top: 1%;
    padding: 20px;
    font-family: 'Quicksand',sans-serif;
}
.list li{
    list-style: none;
    padding-top: 7%;
}
ul li label{
    color: aliceblue;
    font-family: 'Quicksand',sans-serif;
    padding-top: 1%;
    font-size: 25px;
    font-weight: bolder;

}
input{
    padding: 20px;
    cursor: pointer;
}
#previous{
    margin: 10%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
#submit{
    margin: 10%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
#submit:hover{
    box-shadow: 6px 3px 10px -2px black;
    border: 1px solid transparent;
}
.scores{
    display: none;
}
#scorearea{
    border: 1px solid black;
    box-shadow: 4px 4px 10px -2px black;
    width: 90%;
    border-radius: 20px;
    margin: 20px;
}
.btn{
    margin: 10%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #000;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
}
.btn:hover{
    box-shadow: 5px 2px 10px -2px black;
    border: 1px solid transparent;
}
#final{
    color: black;
    padding: 20px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Quicksand',sans-serif;
}