*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color: aliceblue ; */
    /* background-image: linear-gradient(180deg,#bdc3c7,#2c3e50); */
    background-image: url('milky.jpg');
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: hard-light;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}
/* .video{
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
header{
    /* background: darkcyan;  */
    background: url('solarsystem.jpg');
    background-color: rgb(0, 0, 0, 0.3);
    /* background: url('stars3.jpg'); */
    background-blend-mode: hard-light;
    background-position-y: 200%;
    background-position-x: 100%;
    max-width: 100%;
    background-attachment: scroll;
    background-size: cover;
}
.heading{
    font-family: 'Orbitron',sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    padding: 30px 20px;
    margin: auto;
    color: gainsboro;
    transition-duration: 1s;
}
.icon{
    display: none;
    top: 0;
    margin-left: 4%;
}
.icon .fa{
    font-size: 15px;
    color: azure;
}
nav{
    font-size: 30px;  
}
nav ul li{ 
    display: inline-flex;
    flex-direction: row;
}
li a{                        /*navigation bar*/
    text-decoration: none;
    border: 2px solid transparent;
    padding: 26px 52px;
    max-width: 100%;
    font-size: 20px;
    margin-top: 1px;
    font-family: 'Orbitron',sans-serif;
    color: black;
    /* overflow: hidden; */
    /* background: url('stars3.jpg'); */ 
}
#nav1{                                                        /*Astronomy*/
    border-bottom: 4px solid #9daaf8;
    color: #9daaf8;
    max-width: 100%;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav1:hover{                                               
    /* background-image: linear-gradient(to bottom,rgb(187, 15, 15),rgb(240, 35, 76), rgb(243, 79, 112),rgb(243, 115, 141)); */
    background: url('carb.jpg');
    background-color: rgba(0, 0, 0, 1);
    background-blend-mode: hard-light;
    max-width: 100%;
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav2{                                                     /*Learn*/
    border-bottom: 4px solid #e01f12;
    color: #e01f12;
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav2:hover{
    /* background-image: linear-gradient(to bottom ,rgb(226, 29, 193),rgb(228, 76, 202),rgb(235, 130, 217)); */
    background: url('learn2.jpeg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav3{                                                    /*Telescopes*/
    border-bottom: 4px solid rgb(33, 20, 221);
    color: rgb(33, 20, 221);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav3:hover{
    /* background-image: linear-gradient(to bottom,rgb(119, 38, 224),rgb(157, 94, 240),rgb(178, 138, 229)); */
    background: url('telescp.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav4{                                                    /*Quiz*/
    border-bottom: 4px solid rgb(4, 150, 4);
    color: rgb(4, 150, 4);
    border-radius: 10px;
    transition-duration: 0.6s;

}
#nav4:hover{
    /* background-image: linear-gradient(to bottom, rgb(115, 184, 13), rgb(149, 192, 85), rgb(156, 184, 114)); */
    background: url('quiz.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}

#nav5{                                                     /*Movies*/
    border-bottom: 4px solid burlywood;
    color: burlywood;
    border-radius: 10px;
    transition-duration: 0.6s ;
}
#nav5:hover{
    /* background-image: linear-gradient(to bottom,  rgb(240, 23, 23),  rgb(240, 93, 93),  rgb(231, 148, 148)); */
    background-image: url('groot.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#nav6{                                                   /*Comments*/   
    border-bottom: 4px solid rgb(0, 238, 178);
    color: rgb(0, 238, 178);
    border-radius: 10px;
    transition-duration: 0.6s;
}
#nav6:hover{
    /* background-image: linear-gradient(to bottom, rgb(238, 146, 54), rgb(238, 170, 103), rgb(247, 199, 151)); */
    background: url('comments.jpg');
    border-bottom: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: whitesmoke;
}
#sun{
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Quicksand',sans-serif;
    color: rgb(248, 132, 64);
}
#sunp{
    border: 1px solid rgb(252, 217, 174);
    margin: 2%;
    border-radius: 50px;
    padding: 25px 30px;
    color: rgb(252, 217, 174);
    font-size: 25px;
    text-align: justify;
    font-family: 'Quicksand',sans-serif;
    font-weight: 700;
}
.ss{
    margin: 5% 0;
    text-align: center;
}
#ss{
    text-align: center;
    border: 1px solid rgb(252, 217, 174);
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(248, 132, 64);
    font-size: 30px;
    font-family: 'Quicksand',sans-serif;
    font-weight: 800;
    transition-duration: 0.6s;
}
#ss:hover{
    color: #000;
    background-color: rgb(252, 217, 174);
}
#solar{
    border-radius: 80px;
    margin-top: 2%;
    margin-left: 26%;
    box-shadow: 1px 1px 20px #ccc7f7;
}
#solarc{
    color: rgb(252, 217, 174);
    text-align: center;font-family: 'Quicksand',sans-serif;
    font-size: 20px;
    margin: 1%;
}
#planetsh,#dwarfh,#asteroidh{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 2px;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Quicksand',sans-serif;
    color: rgb(248, 132, 64);
}
#dwarf{
    border-radius: 80px;

    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 22%;
    box-shadow: 1px 1px 20px #ccc7f7;
}
#asteroid{
    border-radius: 80px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 24%;
    box-shadow: 1px 1px 20px #ccc7f7;
}