*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
    height: 100vmin;   
}
.object{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    margin: auto;
}
#sun{
    width: 20vmin;
    height: 20vmin;
}
#mercury{
    width: 2vmin;
    height: 2vmin;
}
#venus{
    width: 3vmin;
    height: 3vmin;
}
#earth{
    width: 4vmin;
    height: 4vmin;
}
#mars{
    width: 2.5vmin;
    height: 2.5vmin;
}
#jupiter{
    width: 12vmin;
    height: 12vmin;
}
#saturn{
    width: 20vmin;
    height: 20vmin;
    transform: rotateZ(0deg);
}
#uranus{
    width: 7vmin;
    height: 7vmin;
}
#uranus::after{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    border-top: 0;
    border-radius: 60%;
    transform: translate(-50%, -50%) rotate(180deg);  
}
#neptune{
    width: 6vmin;
    height: 6vmin;
}